html,
body {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 1px black;
}

.grid div {
  width: 20px;
  height: 20px;
  /* background-color: yellow; */
  border: solid 0px black;
}

.snake {
  background-color: brown;
}

.apple {
  background: yellowgreen;
}
